/* .wrapper {
  border: 1px solid green;
} */

.grid {
  display: grid;
  /* display: inline-grid; */
  font-size: 30px;
  position: relative;
}

.grid_body {
  display: grid;
  

  grid-template-columns: 30% minmax(150px, 300px) 50%;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 0.1fr 0.2fr 0.3fr; */
  grid-template-rows: 1fr 1.5fr;
}

.grid_item {
  text-align: center;
  /* border: 2px solid rgba(0, 255, 0, 0.3); */
  border: 1px dashed green;
  padding: 30px;
}

.grid-wrapper {
  display: grid;

  grid-template:
    [start] "header header" 100px [row2]
    [row2] "side content" 1fr [row-end] / 150px 1fr;
/* 
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header"
                       "side content"; */
}

.grid-header,
.grid-size,
.grid-content {
  padding: 30px;
  border: 1px dashed grey;
  margin: 0px 0px 15px 0px;
}

.grid-header {
  grid-area: header;
}

.grid-size {
  grid-area: side;
}

.grid-content {
  grid-area: content;
}

/* Неявная сетка */
.grid-auto {
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  grid-auto-rows: 200px;
  /* grid-auto-columns: 300px; */
  /* grid-auto-flow: row; */
}

.grid-auto_item {
  text-align: center;
  border: 2px dashed grey;
  padding: 30px;
  font-size: 30px;
}

/* Автоматическое разрешение */
.grid-masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-flow: dense; */
  /* grid-auto-rows: 200px; */
  /* counter-reset: item; */
}
